<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles/login.css' %}">
    <title>Document</title>
</head>
<body><img src="img/background1.jpg">
    <div id="login"> </div>
    <div class="leftrame"></div>
    <div class="rightrame"></div>
    <div class="toprame"><img src="img/sword.png"></div>
    <div class="bottomrame"><img src="img/sword1.png"></div>
</body>
</html>