<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'styles/index1.css' %}" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<img src="{% static 'img/background.jpg' %}" />		
		<div class="container">
			<div class="cloud" id="cloud-menu-down"></div>
			<!--left menu clouds-->
			<div class="cloud" id="cloud-menu-middle"></div>
			<div class="cloud" id="cloud-menu-top"></div>
			<div class="cloud" id="cloud-menu-down3"></div>
			<div class="cloud" id="cloud-menu-down4"></div>
			<nav class="menu">
				<ul>
					<li><a href="#">News</a></li>
					<li><a href="#">Statistics</a></li>
					<li><a href="#">Shop</a></li>
					<li><a href="#">Suport</a></li>
					<li><a href="#">Create Account</a></li>
				</ul>
				<!--burger menu-->
				<button class="burger">
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
					<div class="skull"></div>
				</button>
			</nav>
			<div class="cloud" id="cloud-base1"></div>
			<svg width="0" height="0">
				<filter id="filter-base">
					<feTurbulence
						type="fractalNoise"
						baseFrequency="0.012"
						numOctaves="25"
						seed="8255"
					/>
					<feDisplacementMap in="SourceGraphic" scale="60" />
				</filter>
			</svg>
			<div class="logomain">
				<div class="playbutton" type="submit"><a href="login">PLAY!</a></div>
			</div>
			<div class="navleft">
				<div class="test"> TestTestTest Test</div>
			</div>
				<div class="content">
						<h1 class="h">NEWS</h1>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim,
					erat vel lobortis sagittis, magna dolor convallis neque, id pulvinar mi
					nulla vel tortor. Integer semper ex nulla, in lacinia est pellentesque
					non. Proin accumsan orci lectus, non posuere urna aliquam a. Sed semper,
					arcu eu varius molestie, justo felis porttitor risus, ut consectetur est
					metus quis metus. Nam rutrum sem eget blandit posuere. Donec sed
					vestibulum metus. Cras feugiat nunc volutpat, finibus mi quis, mollis
					eros. Maecenas finibus fringilla est, ut sagittis metus fringilla nec.
					Nullam id elementum ligula, in rutrum quam. Cras quis augue vitae lacus
					hendrerit facilisis. Etiam at efficitur nunc. Morbi enim erat, interdum
					eu tempus sed, scelerisque in neque. Nam congue lectus sit amet lectus
					pellentesque consectetur. Fusce porta neque et posuere tincidunt. Ut mi
					odio, accumsan lacinia pulvinar vitae, mollis sed purus. Morbi pharetra
					sapien ipsum, non facilisis diam ultrices sed. Aenean et sapien in orci
					commodo bibendum. Cras et cursus ipsum, et venenatis quam. Donec posuere
					sagittis metus, eu ornare est vehicula a. Donec mollis, nulla ut
					ultrices placerat, velit justo blandit purus, non viverra lectus dui a
					orci. In imperdiet id nulla a auctor. Nunc quis tempus libero. Etiam
					condimentum eleifend vestibulum. Vivamus vulputate aliquam velit, et
					fringilla diam lacinia eu. Nulla luctus, nisl ut tempor eleifend, libero
					mauris accumsan odio, a venenatis mi odio tristique metus. Donec aliquet
					nisl quam, sed semper orci ultrices sed. Quisque libero lacus, accumsan
					eget mattis et, venenatis egestas dolor. Maecenas commodo viverra
					consectetur. Cras ipsum purus, tincidunt eget massa et, sodales dictum
					elit. Sed rhoncus magna nibh, quis gravida erat tincidunt lobortis. Nunc
					bibendum, ipsum vel convallis dapibus, tellus nulla maximus nunc, non
					vulputate purus velit eu diam. Donec fringilla, mauris placerat porta
					viverra, sapien tellus varius justo, placerat iaculis enim magna quis
					nisi. In eget eros vel mi posuere egestas in quis ante. Quisque nibh
					risus, ultricies id tortor vitae, dictum hendrerit diam. Integer sit
					amet leo eu tellus finibus vulputate. Etiam turpis turpis, finibus eu
					erat sit amet, ornare cursus arcu. Duis est nisi, mollis nec rutrum sit
					amet, viverra eget dolor. Nullam nec turpis ornare, viverra metus eget,
					molestie urna. Suspendisse pellentesque mollis risus. Donec hendrerit
					eros risus, quis blandit diam pellentesque at. Sed lobortis neque velit,
					vel ultricies tellus sagittis viverra. Donec lacinia iaculis fermentum.
					Ut viverra pellentesque neque, sit amet porttitor justo dictum at. Lorem
					ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec ultricies
					ex, non venenatis dolor. Integer vel laoreet neque. Pellentesque ut odio
					vitae arcu ornare facilisis. Nunc pretium elementum leo, vitae elementum
					justo lobortis vel. Etiam id laoreet orci, convallis consequat purus.
					Nullam accumsan, tellus lacinia porta malesuada, mauris eros rutrum
					lacus, vel gravida risus ante in nibh. Vivamus non sapien a lacus
					egestas varius. Nulla facilisi. Praesent a odio id augue euismod
					pretium. Fusce blandit velit libero, non lacinia tellus imperdiet eget.
					Aliquam lectus lorem, feugiat eget eros et, pulvinar consectetur lorem.
			</div>
			<div class="navright"></div>
			<div class="footer"></div>
		</div>

		<!--burger script-->
		<script>
			const mobileNav = document.querySelector(".menu > ul, .playbutton");
			const burgerIcon = document.querySelector(".burger");

			burgerIcon.addEventListener("click", function () {
				mobileNav.classList.toggle("active");
				burgerIcon.classList.toggle("active");
			});
		</script>
	</body>
	<footer></footer>
</html>
